<div class="popup-item" id="{{ popupid }}">
	<div class="popup-close">
		{% render 'close-icon' %}
	</div>
	<div class="popup-image">
		{{ product.title }}
		<img src="{{ product.featured_image | image_url: width: 120, height: 140, crop: 'center' }}"
		     alt="Hotspot image"/>
	</div>
	<div class="popup-product">

	</div>
</div>