{{ 'ecom-hotspot.css' | asset_url | stylesheet_tag }}
<section class="ecom-hotspot-section">
	<div class="ecom-hotspot-container">

	</div>
</section>
{{ 'ecom-hotspot.js' | asset_url | stylesheet_tag }}

{% schema %}
{
	"name": "Ecom Hotspot",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Tisso vison in the wild"
		}
	],
	"blocks": [
		{
			"type": "hotspot",
			"name": "Hotspot",
			"limit": 6,
			"settings": [
				{
					"type": "text",
					"id": "hotspot_title",
					"label": "Hotspot Title"
				},
				{
					"type": "text",
					"id": "hotspot_description",
					"label": "Hotspot Description"
				},
				{
					"type": "image_picker",
					"id": "hotspot_image",
					"label": "Hotspot Image"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Ecom Hotspot",
			"category": "Custom"
		}
	]
}
{% endschema %}
