{{ 'ecom-hotspot.css' | asset_url | stylesheet_tag }}
<style>
    .ecom-hotspot-container {
        max-width: {{ section.settings.hotspot_container_width }}px;
    }
</style>
<section class="ecom-hotspot-section">
	<div class="ecom-hotspot-container">

	</div>
</section>
{{ 'ecom-hotspot.js' | asset_url | stylesheet_tag }}

{% schema %}
{
	"name": "Ecom Hotspot Grid",
	"settings": [
		{
			"type": "range",
			"id": "hotspot_container_width",
			"label": "Container Width",
			"default": 1200,
			"min": 1000,
			"max": 1900,
			"step": 50
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Tisso vison in the wild"
		}
	],
	"blocks": [
		{
			"type": "hotspot",
			"name": "Hotspot",
			"limit": 6,
			"settings": [
				{
					"type": "image_picker",
					"id": "hotspot_image",
					"label": "Hotspot Image"
				},
				{
					"type": "product",
					"id": "hotspot_product",
					"label": "Hotspot Product"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Ecom Hotspot Grid",
			"category": "Custom"
		}
	]
}
{% endschema %}
