{{ 'ecom-hotspot.css' | asset_url | stylesheet_tag }}
<section class="ecom-hotspot-section">
	<div class="ecom-hotspot-container">

	</div>
</section>
{{ 'ecom-hotspot.js' | asset_url | stylesheet_tag }}

{% schema %}
{
	"name": "Ecom Hotspot",
	"settings": [
		{
			"type": "text",
		  	"id": "title",
		  	"label": "Title",
		  	"default": "Hotspot Title"
		}
	],
	"presets": [
		{
			"name": "Ecom Hotspot",
			"category": "Custom"
		}
	]
}
{% endschema %}
